<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Resource App{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><i class="h4 text-warning">Resource App</i></a>
                <form method='post' action="" class="d-flex">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                    <div class="form-control me-2 mx-3">Hello {{user.username}}</div>
                    <a href="{% url 'logout' %}" class="btn btn-outline-light" type="submit">Logout</a>
                    {% else %}
                    <input class="form-control me-2" type="text" placeholder="username" name='username'
                        aria-label="Username" required>
                    <input class="form-control me-2 mx-3" type="password" placeholder="password" name='password'
                        aria-label="Password" required>
                    <button class="btn btn-outline-light" type="submit">Login</button>
                    {% endif %}

                </form>
            </div>
            </div>
        </nav>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="block-body" style="min-height: 100vh;">
            {% block content %}{% endblock %}
        </div>

        <div class="py-4 border-top container">
            <p>© 2023 Resource App, Inc. All rights reserved</p>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>

</html>